<% include ../partiadmin/nav-left %>
   
    <!-- Right Panel -->

    <div id="right-panel" class="right-panel">
            <div class="col-sm-12">
				<div class="jumbotron jumbotron-fluid text-xs-center">
					<div class="container">
						<h1 class="display-5 text-center">Danh Mục Sản Phẩm</h1>
					</div>
				</div>
				<div >
                   <table class="table text-center " >
                       <thead>
                           <tr>
                               <th>ID sản phẩm</th>
                               <th>Tên Sản Phẩm</th>
                               <th>Giá Sản Phẩm</th>
                               <th>Ảnh Sản Phẩm</th>
                               <th>Danh Mục</th>
                               <th>Quản Lý</th>

                           </tr>
                       </thead>
                       <tbody>
                       <% data.forEach(function(motphantu){ %>
                            <tr>
                               <td><%= motphantu._id %></td>
                               <td><%= motphantu.tensp %></td>
                               <td><%= motphantu.gia %></td>
                               <td><img height = "80px " src="../<%= motphantu.anhsp[0] %>" alt=""></td>
                               <td><%= motphantu.danhmuc.name_dmsp %></td>
                                <td>
                                    <a  href="../admin/editsanpham/<%= motphantu._id %>" class="nutedit btn  "><i class="fa fa-pencil"></i> sửa </a>
									/
                                    <a  data-href="<%= motphantu._id %>" class="nutxoa btn"><i class=" fa fa-remove"></i> xóa </a>
                                </td
                           </tr>
                        <% }) %>
                           
                       </tbody>
                   </table>
			
				</div>
	
        
        </div>
         
    </div> <!-- /#right-panel -->

    <!-- Right Panel -->


    <script>
         jQuery(function($) {
           
		//xoá đối tượng

		$('body').on('click', '.nutxoa', function(event) {
			id = $(this).data('href');
			doituongcanxoa = $(this).parent().parent();
			$.ajax({
				url: '../admin/deletesp/'+id,
				type: 'post',
				dataType: 'json'
				
			})
			.done(function() {
				console.log("success");
			})
			.fail(function() {
				console.log("error");
			})
			.always(function() {
				console.log("complete");
				// dung jquery xoa luon phan tuong
				doituongcanxoa.remove();
			});
		}); 

		//edit danh muc

		
        })
    </script>

    
    
</body>
</html>
